<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Fruits App</title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <h1>Edit Pokemon Page</h1>
    
       
<form action="/pokemon/<%=index%>?_method=PUT" method="POST">
      <!--  NOTE: the form is pre-populated with values for the server-->
      Name: <input type="text" name="name" value="<%=data.name%>" /><br />
      Type: <input type="text" name="type" value="<%= data.type %>" /><br />
      HP: <input type="text" name="stats" value="<%= data.stats.hp %>" /><br />
      ATTACK: <input type="text" name="stats" value="<%= data.stats.attack %>" /><br />
      DEFENSE: <input type="text" name="stats" value="<%= data.stats.defense %>" /><br />
      SPECIAL ATTACK: <input type="text" name="stats" value="<%= data.stats.spattack %>" /><br />
      SPECIAL DEFENSE: <input type="text" name="stats" value="<%= data.stats.spdefense %>" /><br />
      SPEED: <input type="text" name="stats" value="<%= data.stats.speed %>" /><br />
      
      <br />
      <input type="submit" name="" value="Submit Changes" />
    </form>
  </body>
</html>